body {
    margin: 0;
    padding: 0;
    color: rgb(48, 48, 48);
    font-family: sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 0;
    overflow: auto;
    background-color: white;
    width: 100vw;
    height: 300px;
    border-bottom: 1px solid black;
}

#navbar a {
    text-decoration: none;
    color: rgb(48, 48, 48);
    padding: 20px 30px;
    border-top: 1px solid black;
}

#navbar header {
    padding: 25px 10px;
    text-align: center;
    position: webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
}

#main-doc {
    flex-grow: 1;
    flex-basis: 500px;
    margin: 20px;
    flex-shrink: 1;
    min-width: 0;
}

@media (min-width: 800px) {
    #container {
        flex-wrap: nowrap;
    }
    #navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        flex-basis: 300px;
        height: 100vh;
    }
}

header {
    font-size: 1.8em;
}

.main-section>p {
    padding-left: 20px;
}

.main-section ul {
    padding-left: 60px;
}

.main-section code {
    padding: 10px;
    margin: 10px 50px;
    background-color: rgb(245, 245, 245);
    white-space: pre;
    display: block;
}